/* ************************************************* */
/* Side Navbar Color Filling from left to right */
/* ************************************************* */





#side_nav_item, 
#side_nav_subitem{
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.3s;
}


#side_nav_item:before,
#side_nav_subitem:before  {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 1.5rem 1.5rem 0;
    max-width: 75%;
    background: #ff5f5f;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#side_nav_item:hover, #side_nav_item:focus, #side_nav_item:active,
#side_nav_subitem:hover, #side_nav_subitem:focus, #side_nav_subitem:active {
    color: black;
}
#side_nav_item:hover:before, #side_nav_item:focus:before, #side_nav_item:active:before,
#side_nav_subitem:hover:before, #side_nav_subitem:focus:before, #side_nav_subitem:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

