<!DOCTYPE html>


<!-- Using/ extending the "foodsystem/templates/base_restaurant_owner.html" file as a base-template -->



{% extends 'base_restaurant_owner.html' %}
{% load static %}




<!-- Custom Stylesheet -->
{% block stylesheet %} 
    <!-- Page styling -->
    <link rel="stylesheet" href="{% static 'css/food/create_food_record.css' %}">

    <!-- Flash Message Styling -->
    <link rel="stylesheet" href="{% static 'css/includes/flashMsg/flash_msg.css' %}">
{% endblock %}


<!-- Application Logo/ Title -->
{% block appLogo %} 
    <a href="{% url 'restOwnerApp:rowner_homepage' %}" class="text-white" style="min-width: 7rem; text-decoration: none;">
        <h3>
            Multi Vendor <br/>
            Food Recommendation System
        </h3>
    </a>
{% endblock %}




<!-- Main Body Content -->
{% block content %}

<div class="container-fluid p-5">

    
    <div class="row d-flex justify-content-between">
        <div class="col-7 py-3">
            <h1>Food Record Form</h1>
        </div>
        <div class="col-2 py-3 d-flex justify-content-end">
            <a href="{% url 'foodApp:food_foodList' %}" class="text-white btn btn-lg btn-dark" 
                style="min-width: 7rem; text-decoration: none;">
                View Food List
            </a>
        </div>
    </div>

    <!-- Flash Msg -->
    <div class="row"
        style="margin-top: 2rem">
        <div class="col"></div>
        <div class="col-8 px-0">
            <!-- Flash Message -->
            {% include 'includes/flashMsg/flash_msg.html' %}
        </div>
        <div class="col"></div>
    </div>

    <!-- Create new food-record form -->
    <form method="POST" enctype="multipart/form-data"
        class="bg-light p-5 rounded"
        style="margin: 5rem 0; border: 1px solid rgb(255, 81, 81);">
        {% csrf_token %}
        <div class="mb-3">
            <div class="row text-center">
                <h3 class="pb-5">Create New Food Record</h3>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <!-- <label class="form-label">  </label> -->
                    {{ form.food_name.label_tag }}
                    {{ form.food_name }}
                </div>
                <div class="col">
                    <label for="id_category"> Food Category </label>
                    {{ form.category }}
                    <a class="btn btn-dark btn-md mt-2" 
                        target="_blank"
                        href="{% url 'foodApp:food_foodCategoryList' %}"
                        style="margin: auto 0;">Category+</a>
                    
                    <!-- Select Option for food category (inside inline-notepad) -->
                    <!-- {{ form.category.label_tag }} -->
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <!-- <label class="form-label">  </label> -->
                    {{ form.reward_point.label_tag }}
                    {{ form.reward_point }}
                </div>
                <div class="col">
                    <!-- <label class="form-label">  </label> -->
                    {{ form.price.label_tag }}
                    {{ form.price }}
                    <!-- Select Option for food category (inside inline-notepad) -->
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <!-- <label class="form-label">  </label> -->
                    <!-- {{ form.reward_point }} -->
                </div>
                <div class="col">
                    <!-- <label class="form-label">  </label> -->
                    <!-- {{ form.price }} -->
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label for="id_tag"> Food Tag </label>
                    {{ form.tag }}
                    <a class="btn btn-dark btn-md mt-2" 
                        target="_blank"
                        href="{% url 'foodApp:food_foodTagList' %}"
                        style="margin: auto 0;">Tag+</a>
                </div>
                <div class="col">
                    <label for="id_addon"> Food Addon </label>
                    <!-- <label class="form-label">  </label> -->
                    {{ form.addon }}
                    <a class="btn btn-dark btn-md mt-2" 
                        target="_blank"
                        href="{% url 'foodApp:food_foodAddonList' %}"
                        style="margin: auto 0;">Addon+</a>
                </div>
            </div>
        </div>
        <div style="margin: 2.5rem 0;">
            <div class="row">
                <div class="col">
                    <label for="id_image"> Select food-image </label>
                    {{ form.image }}
                </div>
            </div>
        </div>
        <div class="row"
            style="margin-top: 5rem;">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'foodApp:food_foodList' %}" 
                            class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-dark ms-3"
                            style="min-width: 7rem;">Create</button>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

{% endblock %}




<!-- Custom JS -->
{% block js %} 
    <!-- Error Flash Msg JS -->
    <script src="{% static 'js/includes/flashMsg/flash_msg.js' %}"></script>
{% endblock %}
