<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1 style="color: rgb(0, 139, 58);">Common Redirected Page | Before Login</h1>

    <h3>Unauthenticated/ anonymous users landing page</h3>

    <h3>Not require to protect from unauthenticated users!</h3>

    <small style="color: red;">
        Inside each decorator, <b>base template</b> for each user will be added later for redirection.
    </small>
</body>
</html>