<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>HomePage (Restaurant Staff - Unapproved in the system)</h1>

    <h3>Protect from unauthenticated users</h3>

    <h4>If you're redirected to this pgae, it means, you're a restaurant staff, who is not yet <span style="color: red;">approved by yor restaurant owner</span>.</h4>

    <small style="color: red;">
        Inside each decorator, <b>base template</b> for each user will be added later for redirection.
    </small>
</body>
</html>