<!DOCTYPE html>
{% extends 'base_restaurant_customer.html' %}
{% load static %}



<!-- Custom Stylesheet -->
{% block stylesheet %} {% endblock %}





<!-- Application Logo/ Title -->
{% block appLogo %} 
    <div class="row container-fluid">
        <div class="col">
            <a href="{% url 'restCustApp:rcust_homepage' %}" 
                class="text-white" 
                style="min-width: 7rem; text-decoration: none;">
                <h3>
                    Multi Vendor <br/>
                    Food Recommendation System
                </h3>
            </a>
        </div>
    </div>
{% endblock %}




<!-- Food Cart Icon -->
{% block cart %} 

    {% if custCart %}
    <a href="{% url 'restCustApp:foodCart' custCart %}"
        class="text-white text-decoration-none d-flex justify-content-center align-items-center" 
        style="height: 5rem;
        width: 5rem;">

        <i class="fas fa-shopping-cart fa-2x"></i>
    </a>
    <!-- [ FURTHER DEVELOPMENT ]: Create another cart page displaying an empty cart page & will be in the else-block -->
    {% else %}
    <!-- [ Notes ]: The page will not initally get the cart-id, so manually realod the page at the first time of generating the cart-id. -->
    <script> window.location.reload(); </script>
    {% endif %}

{% endblock %}




<!-- Main Body Content -->
{% block content %} 


    <div class="container-fluid pb-5 px-0"
        style="background-color: rgb(255, 255, 255);
            margin: 0-1rem;">
    
    

        <!-- Restaurant banner Image -->
        <div class="row">
            <div class="col text-center">
                <img src="{{ r_profile.get_rest_photo_url }}" 
                    alt="DP" 
                    width="80%" 
                    height="80%">
                <h1>
                    <b> Restaurant: &nbsp; {{ restaurantInfo.restaurant_name }} </b>
                </h1>
            </div>
        </div>
    
    
        <div class="row px-5">
            <div class="col"
                style="margin-left: 1.5rem;">
                <!-- Restaurant: <b> {{ restaurantInfo }} </b> <br/>
                Restaurant ID : <b> {{ restaurantInfo.id }} </b> <br/>
    
    
                <p>fetch all the food of this restaurant</p>
                <p>Customer: {{ user }} </p>
                <p>Customer ID: {{ user.id }} </p>
                <p>Customer Cart: {{ custCart }} </p>
                <p>Customer Cart ID: {{ custCart.id }} </p> -->

                <div class="row"
                    style="margin-top: 5rem">
                    {% for fd in food %}
                    <div class="col d-flex justify-content-start">
                        <div class="card"
                            style="width: 18rem;
                                margin: 2rem 0;
                                cursor: pointer;
                                background-color: rgba(202, 202, 202, 0.603)">
                            <!-- <img src="{% static 'app_recources/testImg.jpg' %}" 
                                class="card-img-top" 
                                alt="restaurant-image"> -->
                            {% if custCart %}
                                <a href="{% url 'foodApp:food_detail' fd.pk custCart %}"
                                style="text-decoration: none;
                                    color: black;">
                            {% else %}
                                <script>
                                    window.location.reload();
                                </script>
                            {% endif %}
                            <img src="{{ fd.image.url }}" 
                                class="card-img-top" 
                                alt="restaurant-image">
                            <div class="card-body">
                                <h4 class="card-title"> {{ fd.food_name }} </h4>
                                </a>
                                
                                <p> <b> Tk. {{ fd.price }} </b> </p>
                                
                                <!-- <small> Food ID: {{ fd.pk }} </small> <br/>
                                <small> Cust-Restaurant Cart: {{ custCart }} </small> <br/>
                                <small> Loop Counter: {{ forloop.counter }} </small> <br/> -->
                                <small> Total Viewed: <b>{{ fd.total_viewed }}</b> </small>
                                <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <!-- Online rapid note -->
    
                                <span>
                                    <!-- <form action="{% url 'restCustApp:addToCart' %}"
                                        method="POST">
                                        {% csrf_token %}
                                        {{ form.cart_id }}
                                        {{ form.food }}
                                        {{ form.quantity }}
                                        <button type="submit" 
                                            class="btn btn-dark"
                                            id="food_tag_add_btn">Add to cart +</button>
                                    </form> -->
    
    
                                    <form action="{% url 'restCustApp:addToCart' %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <input type="text" name="cart" value="{{ custCart }}" hidden>
                                        <input type="text" name="food" value="{{ fd.food_name }}" hidden>
                                        <input type="number" name="quantity" value="1"
                                            class="my-4">
                                        <button type="submit" 
                                            class="btn btn-dark"
                                            id="food_tag_add_btn">Add to cart +</button>
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 
                        Solution for col-alignment during iteration; 
                        Link Ref:  https://stackoverflow.com/a/46927971
                    -->
                    <!-- [ Further Development ] Check if any alignment gets wrong if this hidden-dummy-card doesn't not exist -->
                    {% if forloop.last %}
                    <div class="col d-flex justify-content-start">
                        <div class="card" 
                            style="width: 18rem;
                                margin: 2rem 0;
                                visibility: hidden;">
                            <img src="{% static 'app_recources/testImg.jpg' %}" 
                                class="card-img-top" 
                                alt="restaurant-image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <small> {{ forloop.counter }} </small>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                    <!-- <div class="col"></div> -->
                    {% endif %}
                        
                    {% endfor %}
                </div>
                
            </div>
            <!-- <div class="col-2 bg-secondary">
                <h4>Add to Cart</h4>
            </div> -->
        </div>
    </div>
    
    

    <h1>
    </h1>


{% endblock %}







<!-- Custom JS -->
{% block js %} 

    <!-- Axios CDN -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <!-- Create order-record using axios-post-method -->
    <!-- <script src="{% static 'js/restaurantCustomer/restaurant_page_cust_view_api.js' %}"></script> -->

{% endblock %}





<!-- V A L I D -->
<!-- <h1> Restaurant Page: Customer View </h1>

<h5> Restaurant ID:  {{ rest_id }} </h5>

<p>
    Restaurant: <b> {{ restaurantInfo }} </b> <br/>
    Open at: <b> {{ r_profile.opening_time }} </b> <br/>
    Close at: <b> {{ r_profile.closing_time }} </b> <br/>
    Close: <b> {{ r_profile.is_closed }} </b> <br/>
    Restaurant Pic: <b> {{ r_profile.restaurant_profile_pic }} </b> <br/>
    Account created at: <b> {{ r_profile.created_at }} </b> <br/>
    Account info last updated at: <b> {{ r_profile.last_updated_at }} </b>
</p> -->