<!DOCTYPE html>

<!-- Using/ extending the "foodsystem/templates/base_restaurant_owner.html" file as a base-template -->



{% extends 'base_restaurant_owner.html' %}
{% load static %}




<!-- Custom Stylesheet -->
{% block stylesheet %} 
    <link rel="stylesheet" href="{% static 'css/restaurantOwner/searchIcon.css' %}">
{% endblock %}




<!-- Application Logo/ Title -->
{% block appLogo %} 
    <a href="{% url 'restOwnerApp:rowner_homepage' %}" class="text-white" style="min-width: 7rem; text-decoration: none;">
        <h3>
            Multi Vendor <br/>
            Food Recommendation System
        </h3>
    </a>
{% endblock %}



<!-- Dedicated Searchfield Template Tags (Restaurant Owner) -->
{% block search %} 
    <div class="row container-fluid px-0 m-auto">
        <div class="col-2"></div>
        <div class="col px-0">
            <input class="form-control form-control-dark w-100" 
                    id="searchField" 
                    type="text" 
                    placeholder="Search" 
                    aria-label="Search"
                    style="
                        /* border: 3px solid red; */
                        border-radius: 3px 0 0 3px;
                    ">
        </div>
        <div class="col-1 d-flex align-items-center justify-content-center"
            id="searchIcon_holder">
            <img src="{% static 'app_recources/search_icon.png' %}" 
                alt="Search Icon" width="18" height="18">
        </div>
    </div>
{% endblock %}




<!-- Main Body Content -->
{% block content %}
    <div class="container-fluid pb-5 px-0"
        style="background-color: rgba(255, 255, 255, 0.76);">

        <!-- Restaurant banner Image -->
        <div class="row mx-3"
            style="margin-top: 5rem;">
            <div class="col text-center">
                
                <!-- Order List Table -->
                <table class="table table-hover table-striped"
                    style="margin: 5rem 0 5rem 0;">
                    <h1>Customer WishList: Restaurant Owner</h1>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Food</th>
                            <th scope="col">Created</th>
                            <th scope="col">Last Updated</th>
                            <th scope="col" 
                                class="text-center">View Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for clf in customerLovedFood %}
                                <tr>
                                    <th scope="row"
                                        class="py-4">#{{ forloop.counter }}</th>
                                    <td class="py-4">{{ clf.customer_id.first_name }} {{ clf.customer_id.last_name }}</td>
                                    <td class="py-4">{{ clf.food_id }}</td>
                                    <td class="py-4">{{ clf.created_at }}</td>
                                    <td class="py-4">{{ clf.last_updated_at }}</td>
                                    <td class="text-center"
                                        style="padding: 1.3rem 0;">
                                        <a href="#"
                                            class="btn btn-primary btn-sm px-4">
                                            View Detail
                                        </a>
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
{% endblock %}
